@{
    ViewBag.Title = "Home";
}

<div style="margin-top: 60px">
    @if (Request.IsAuthenticated)
    {
        <h2>Hello, @User.Identity.Name!</h2>
        <form method="post" action="@Url.Action("SignOut", "Auth")">
            <button type="submit" class="btn btn-danger">Sign out</button>
        </form>
        <form method="post" action="@Url.Action("Validate", "Home")">
            <button style="margin-top: 10px;" type="submit" class="btn btn-primary">Validate token</button>
        </form>
    }
    else
    {
        <form method="post" action="@Url.Action("SignIn", "Auth")">
            <button type="submit" id="loginLink" class="btn btn-primary">Sign in</button>
        </form>
    }
</div>
